<template>
  <div>
    <NewsItem
      v-for="newsItem in authorNews"
      :key="newsItem.id"
      :news="newsItem"
      :text="newsItem.previewText"
    >
      <v-card-actions>
        <v-btn text :to="{ name: 'news-id', params: { id: newsItem.id } }">
          Читать дальше →
        </v-btn>
      </v-card-actions>
    </NewsItem>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { mapState } from 'vuex'
import { Context } from '@nuxt/types'
import { News } from '~/types'
import NewsItem from '~/components/News/NewsItem.vue'
import { FETCH_NEWS } from '~/store'

@Component({
  components: { NewsItem },
  computed: mapState(['authorNews'])
})
export default class Index extends Vue {
  authorNews!: News[]

  created() {
    this.$store.dispatch(FETCH_NEWS, this.$route.params.id)
  }

  validate(ctx: Context) {
    return /^\d+$/.test(ctx.params.id)
  }
}
</script>

<style scoped></style>
