<template>
  <v-app dark>
    <v-app-bar :clipped-left="clipped" fixed app>
      <nuxt-link to="/news" class="title">
        <v-toolbar-title v-text="title" />
      </nuxt-link>
      <v-spacer />

      <div v-if="user">
        {{ user.name }}
        <v-btn icon to="/news/add">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </div>
      <div v-else>
        <v-btn to="/login">
          Войти
        </v-btn>
      </div>
    </v-app-bar>

    <v-content>
      <v-container class="col-md-9">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <nuxt />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { mapState } from 'vuex'
import Vue from 'vue'
import { State } from '~/types'

export default Vue.extend({
  data() {
    return {
      clipped: false,
      fixed: false,
      title: 'Чудесные новости'
    }
  },
  computed: mapState({
    user: (state: State) => state.user
  })
})
</script>

<style scoped>
  .title {
    text-decoration: none;
    color: inherit;
  }
</style>
