<template>
  <v-card
    class="mx-auto d-block news"
    width="100%"
  >
    <v-card-text>
      <v-btn v-if="user && news.author.id === user.id" icon :to="{ name: 'news-id-edit', params: { id: news.id } }" class="news-edit">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <p class="display-1 text--primary news-title">
        {{ news.title }}
      </p>
      <p>
        <n-link :to="{ name: 'author-id', params: { id: news.author.id } }">
          {{ news.author.name }}
        </n-link> — {{ news.humanCreated }}
      </p>
      <div class="text--primary" v-html="text"></div> <!-- eslint-disable-line -->
    </v-card-text>

    <slot />
  </v-card>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue
} from 'nuxt-property-decorator'
import { News, User } from '~/types'

@Component({})
export default class NewsItem extends Vue {
  @Prop()
  news!: News
  @Prop()
  user?: User
  @Prop()
  text!: string
}
</script>

<style scoped>
  .news-title {
    margin-bottom: 8px;
  }
  .news {
    margin-bottom: 15px;
  }
  .news-edit {
    float: right;
  }
</style>
