<template>
  <v-alert v-if="!user && newsItem" type="error">
    Войдите, чтобы редактировать новость
  </v-alert>
  <v-alert v-else-if="!user">
    Войдите, чтобы добавить новость
  </v-alert>
  <v-alert
    v-else-if="user && newsItem && user.id !== newsItem.author.id"
    type="error"
  >
    Вы не можете редактировать чужую новость
  </v-alert>
  <div v-else>
    <v-card class="elevation-12">
      <v-toolbar
        dark
        flat
      >
        <v-toolbar-title>
          <div v-if="newsItem && newsItem.id !== null">
            Редактирование новости
          </div>
          <div v-else>
            Добавить новость
          </div>
        </v-toolbar-title>
        <v-spacer />
      </v-toolbar>
      <v-card-text>
        <v-form
          id="news-form"
          @submit.prevent="onSubmit"
        >
          <v-text-field
            v-model="title"
            label="Название"
            name="title"
            type="text"
            required
            :disabled="submitted"
            :error-messages="violations.title || null"
            @input="onInput"
          />

          <v-textarea
            v-model="text"
            label="Текст"
            name="title"
            type="text"
            required
            :disabled="submitted"
            rows="12"
            :error-messages="violations.text || null"
            @input="onInput"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-alert v-if="saved" dense>
          Сохранено
        </v-alert>
        <v-spacer />
        <v-btn
          form="news-form"
          type="submit"
          color="primary"
          :disabled="submitted"
        >
          <div v-if="newsItem && newsItem.id !== null">
            Редактировать
          </div>
          <div v-else>
            Добавить
          </div>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Context } from '@nuxt/types'
import { CreateNews, News, User, Violation, ViolationError } from '~/types'
import { ADD_OR_EDIT_NEWS } from '~/store'
import { AxiosResponse } from '~/node_modules/axios'

export default Vue.extend({
  props: {
    newsItem: {
      type: Object as () => News | null,
      default: null
    },
    user: {
      type: Object as () => User,
      default: null
    }
  },
  data() {
    return {
      title: '',
      text: '',
      submitted: false,
      violations: {},
      saved: false
    }
  },

  created() {
    if (this.newsItem !== null) {
      this.title = this.newsItem.title
      this.text = this.newsItem.text
    }
  },

  methods: {
    async onSubmit() {
      this.submitted = true
      const newsItem: CreateNews = { ...this.newsItem, ...{ title: this.title, text: this.text } }

      try {
        await this.$store.dispatch(ADD_OR_EDIT_NEWS, newsItem)
        this.saved = true
        setTimeout(() => { this.saved = false }, 1500)
      } catch (e) {
        if (e.response) {
          const error: AxiosResponse<ViolationError> = e.response
          error.data.violations.forEach((value: Violation, _key) => {
            // @ts-ignore
            this.violations[value.propertyPath] = value.message
          })
        }
      } finally {
        this.submitted = false
      }
    },
    onInput() {
      this.violations = {}
    }
  },

  validate(ctx: Context): Promise<boolean> | boolean {
    return /^\d+$/.test(ctx.params.id)
  }
})
</script>

<style scoped></style>
