<template>
  <NewsForm :user="user" />
</template>

<script lang="ts">
import { mapState } from 'vuex'
import Vue from 'vue'
import { State } from '~/types'
import NewsForm from '~/components/News/NewsForm.vue'

export default Vue.extend({
  components: { NewsForm },

  computed: mapState({
    user: (state: State) => state.user
  }),

  created() {
  }
})
</script>

<style scoped></style>
