<template>
  <v-layout column justify-center align-center>
    <NewsItem
      v-for="newsItem in news"
      :key="newsItem.id"
      :news="newsItem"
      :user="user"
      :text="newsItem.previewText"
    >
      <v-card-actions>
        <v-btn text :to="{ name: 'news-id', params: {id: newsItem.id} }">
          Читать дальше →
        </v-btn>
      </v-card-actions>
    </NewsItem>
  </v-layout>
</template>

<script lang="ts">
import { mapState } from 'vuex'
import Vue from 'vue'
import NewsItem from '~/components/News/NewsItem.vue'
import { FETCH_NEWS } from '~/store'
import { State } from '~/types'

export default Vue.extend({
  components: { NewsItem },

  computed: mapState({
    news: (state: State) => state.news,
    user: (state: State) => state.user
  }),

  created(): void {
    this.$store.dispatch(FETCH_NEWS)
  }
})
</script>

<style scoped></style>
