<template>
  <div>Main page</div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({})
export default class Index extends Vue {
}
</script>

<style scoped></style>
