<template>
  <v-content class="login-form">
    <v-alert v-if="alert" type="error">
      {{ alert }}
    </v-alert>

    <v-card class="elevation-12">
      <v-card-text>
        <v-form
          id="login-form"
          @submit.prevent="onSubmit"
        >
          <v-text-field
            v-model="email"
            label="Email"
            name="email"
            type="text"
            required
            :disabled="submitted"
            @input="onInput"
          />

          <v-text-field
            v-model="password"
            label="Пароль"
            name="password"
            type="password"
            required
            :disabled="submitted"
            @input="onInput"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          form="login-form"
          type="submit"
          color="primary"
          :disabled="submitted"
        >
          Войти
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-content>
</template>

<script lang="ts">
import Vue from 'vue'
import { AxiosResponse } from '~/node_modules/axios'
import { LOGIN } from '~/store'

export default Vue.extend({
  data() {
    return {
      submitted: false,
      email: '',
      password: '',
      alert: ''
    }
  },
  methods: {
    async onSubmit() {
      this.alert = ''
      this.submitted = true

      try {
        await this.$store.dispatch(LOGIN, { email: this.email, password: this.password })
        this.$router.push('/news')
      } catch (e) {
        if (e.response) {
          const error: AxiosResponse<{ code: number; message: string }> =
            e.response
          this.alert = error.data.message
        }
      } finally {
        this.submitted = false
      }
    },
    onInput() {
      this.alert = ''
    }
  }
})
</script>

<style scoped>
  .login-form {
    max-width: 420px;
    margin: 0 auto;
  }
</style>
