<template>
  <v-alert v-if="!user" type="error">
    Войдите, чтобы редактировать новость
  </v-alert>
  <v-alert
    v-else-if="user && newsItem && user.id !== newsItem.author.id"
    type="error"
  >
    Вы не можете редактировать чужую новость
  </v-alert>
  <v-alert v-else-if="!newsItem" type="error">
    Новость не найдена
  </v-alert>
  <div v-else>
    <NewsForm :user="user" :news-item="newsItem" />
  </div>
</template>

<script lang="ts">
import { mapState } from 'vuex'
import Vue from 'vue'
import { Context } from '@nuxt/types'
import { State } from '~/types'
import { FETCH_NEWS_ITEM } from '~/store'
import NewsForm from '~/components/News/NewsForm.vue'

export default Vue.extend({
  components: { NewsForm },
  data() {
    return {
      submitted: false
    }
  },

  computed: mapState({
    user: (state: State) => state.user,
    newsItem: (state: State) => state.newsItem
  }),

  created() {
    this.$store.dispatch(FETCH_NEWS_ITEM, this.$route.params.id)
  },

  validate(ctx: Context): Promise<boolean> | boolean {
    return /^\d+$/.test(ctx.params.id)
  }
})
</script>

<style scoped></style>
