<template>
  <v-alert v-if="!newsItem" type="error">
    Новость не найдена
  </v-alert>
  <NewsItem v-else :news="newsItem" :text="newsItem.text" :user="user" />
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { mapState } from 'vuex'
import { Context } from '@nuxt/types'
import { News } from '~/types'
import NewsItem from '~/components/News/NewsItem.vue'
import { FETCH_NEWS_ITEM } from '~/store'

@Component({
  components: { NewsItem },
  computed: mapState(['newsItem', 'user'])
})
export default class NewsId extends Vue {
  newsItem!: News | null

  created() {
    this.$store.dispatch(FETCH_NEWS_ITEM, this.$route.params.id)
  }

  validate(ctx: Context) {
    return /^\d+$/.test(ctx.params.id)
  }
}
</script>

<style scoped></style>
